.main-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enter-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.enter-section label{
    padding: 10px;
    font-size: 17px;
    margin-top: 20px;
}

.enter-section input {
    margin: 5px;
    padding: 10px 50px;
}

.enter-section button {
    margin-top: 20px;
    padding: 10px ;
    background-color: rgb(127, 144, 242);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

